# =========================
# ENV
# =========================
.env
.env.*
.venv/
venv/
backend/env/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

.pytest_cache/
.coverage
htmlcov/

# =========================
# DJANGO
# =========================
db.sqlite3
*.log

# =========================
# NODE / FRONTEND
# =========================
node_modules/
dist/
build/

# =========================
# SYSTEM
# =========================
.DS_Store
Thumbs.db

# =========================
# CI / DOCS
# =========================
.github/workflows/repomix-output.xml
.repomixignore
planAdventureUi.prompt.md
repomix-output.xml
