$font-family-base: Georgia, serif;

$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-2xl: 32px;

$line-height-sm: 1.2;
$line-height-md: 1.5;
$line-height-lg: 1.8;

$font-regular: 400;
$font-bold: 600;