$font-base: "Inter", system-ui, sans-serif;

$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 18px;
$font-size-xl: 24px;
$font-size-2xl: 32px;

$font-bold: 600;
$font-weight-normal: 400;
$font-weight-bold: 600;
